Repository megaclan3000/megaclan3000, pull requests merged in 2020-06, with the labels that each got.

#91 Parse templates every time they are shown
  server.go
Labels: enhancement

#92 my-first-PR
  templates/index.html
Labels: Frontend

#93 Make graphs full width
  go.sum
  public/css/custom.css
  templates/chart-accuracy.html
  templates/chart-adr.html
  templates/chart-online-time.html
  templates/chart-overview.html
  templates/details.html
Labels: Frontend

#96 set background to white
  templates/details.html
Labels: Frontend, question

#99 Add all missing stats to table-overview
  templates/table-other.html
Labels: Frontend, enhancement

#104 Rewrite database backend with sqlx and modl
  .github/workflows/codecov.yml
  .github/workflows/go.yml
  .github/workflows/golangci-lint.yml
  go.mod
  go.sum
  internal/database/database.go
  internal/database/databasePlayerHistory.go
  internal/database/databasePlayerHistory_test.go
  internal/database/databasePlayerSummary.go
  internal/database/databasePlayerSummary_test.go
  internal/database/databaseRecentlyPlayedGames.go
  internal/database/databaseRecentlyPlayedGames_test.go
  internal/database/databaseUserStatsForGame.go
  internal/database/databaseUserStatsForGame_test.go
  internal/database/database_prepared_statements.go
  internal/database/database_prepared_statements_test.go
  internal/database/database_test.go
  internal/steamclient/gamestats.go
  internal/steamclient/playerHistory.go
  internal/steamclient/playerInfo.go
  internal/steamclient/steamPlayerSummaries.go
  internal/steamclient/steamRecentlyPlayedGames.go
  internal/steamclient/steamUserStatsForGame.go
  internal/steamclient/steamconfig.go
  schema.sql
  server.go
  test/database/fixtures/player_extra.yml
  test/database/fixtures/player_history.yml
  test/database/fixtures/player_stats.yml
  test/database/fixtures/player_summary.yml
  test/database/fixtures/recently_played.yml
Labels: enhancement, testing

#105 Fix missing recent
  internal/database/database.go
  internal/database/databasePlayerHistory.go
  internal/database/databasePlayerSummary.go
  internal/database/databaseRecentlyPlayedGames.go
  internal/database/databaseUserStatsForGame.go
  internal/database/database_test.go
  internal/steamclient/playerInfo.go
  internal/steamclient/steamPlayerSummaries.go
  internal/steamclient/steamRecentlyPlayedGames.go
  internal/steamclient/steamUserStatsForGame.go
  internal/steamclient/steamclient.go
  public/img/icons/Image 156 at frame 0.png
  public/img/icons/Image 289 at frame 0.png
  public/img/icons/Image 309 at frame 0.png
  public/img/icons/Image 327 at frame 0.png
  public/img/icons/Image 43 at frame 0.png
  public/img/icons/headshot.svg
  public/img/icons/kills.svg
  public/img/icons/star.svg
  public/img/icons/target.svg
  public/img/icons/timer.svg
  public/img/icons/win-cup.svg
  schema.sql
  server.go
  templates/chart-overview.html
Labels: Frontend, bug

#106 Overview icons fix #100
  public/img/iconlib/other/Image 156 at frame 0.png
  public/img/iconlib/other/Image 289 at frame 0.png
  public/img/iconlib/other/Image 309 at frame 0.png
  public/img/iconlib/other/Image 327 at frame 0.png
  public/img/iconlib/other/Image 43 at frame 0.png
  public/img/iconlib/other/headshot.png
  public/img/icons/headshot.svg
  public/img/icons/kills.svg
  public/img/icons/star.svg
  public/img/icons/target.svg
  public/img/icons/timer.svg
  public/img/icons/win-cup.svg
  templates/chart-overview.html
Labels: Frontend

#107 Don't fail on missing recentlyPlayedGames
  internal/steamclient/playerInfo.go
Labels: bug

#108 Test steamclient
  internal/database/database.go
  internal/steamclient/steamPlayerSummaries.go
  internal/steamclient/steamPlayerSummaries_test.go
  internal/steamclient/steamRecentlyPlayedGames_test.go
  internal/steamclient/steamUserStatsForGame.go
  internal/steamclient/steamUserStatsForGame_test.go
  internal/steamclient/steamconfig_test.go
  test/steamclient/GetPlayerSummaries76561197962156894.json
  test/steamclient/GetPlayerSummaries76561197967611281.json
  test/steamclient/GetPlayerSummaries76561197978015984.json
  test/steamclient/GetPlayerSummaries76561197978562286.json
  test/steamclient/GetPlayerSummaries76561198092006615.json
  test/steamclient/GetPlayerSummaries76561198104947907.json
  test/steamclient/GetPlayerSummaries76561198217140904.json
  test/steamclient/GetPlayerSummaries76561198881047143.json
  test/steamclient/GetPlayerSummaries76561198962966497.json
  test/steamclient/GetRecentlyPlayedGames76561197962156894.json
  test/steamclient/GetRecentlyPlayedGames76561197967611281.json
  test/steamclient/GetRecentlyPlayedGames76561197978015984.json
  test/steamclient/GetRecentlyPlayedGames76561197978562286.json
  test/steamclient/GetRecentlyPlayedGames76561198092006615.json
  test/steamclient/GetRecentlyPlayedGames76561198217140904.json
  test/steamclient/GetRecentlyPlayedGames76561198881047143.json
  test/steamclient/GetRecentlyPlayedGames76561198962966497.json
  test/steamclient/GetUserStatsForGame76561197962156894.json
  test/steamclient/GetUserStatsForGame76561197967611281.json
  test/steamclient/GetUserStatsForGame76561197978015984.json
  test/steamclient/GetUserStatsForGame76561197978562286.json
  test/steamclient/GetUserStatsForGame76561198092006615.json
  test/steamclient/GetUserStatsForGame76561198104947907.json
  test/steamclient/GetUserStatsForGame76561198217140904.json
  test/steamclient/GetUserStatsForGame76561198881047143.json
  test/steamclient/GetUserStatsForGame76561198962966497.json
  test/steamclient/get.sh
  test/steamclient/testconfig.json
Labels: enhancement, testing

#109 unexport parsing methods
  go.mod
  go.sum
  internal/database/database.go
  internal/steamclient/playerHistory.go
  internal/steamclient/playerInfo.go
  internal/steamclient/steamPlayerSummaries.go
  internal/steamclient/steamPlayerSummaries_test.go
  internal/steamclient/steamRecentlyPlayedGames.go
  internal/steamclient/steamRecentlyPlayedGames_test.go
  internal/steamclient/steamUserStatsForGame.go
  internal/steamclient/steamUserStatsForGame_test.go
Labels: documentation, enhancement, testing

#112 86 fix playtime heatmap
  public/css/custom.css
  templates/chart-online-time.html
  templates/details.html
Labels: Frontend

#114 Fix import path for internal (repo transfer)
  go.mod
  internal/database/database.go
  internal/database/databasePlayerHistory.go
  internal/database/databasePlayerHistory_test.go
  internal/database/databasePlayerSummary.go
  internal/database/databasePlayerSummary_test.go
  internal/database/databaseRecentlyPlayedGames.go
  internal/database/databaseRecentlyPlayedGames_test.go
  internal/database/databaseUserStatsForGame.go
  internal/database/databaseUserStatsForGame_test.go
  internal/database/database_test.go
  server.go
Labels: documentation, enhancement

#111 move info to contributing
  CONTRIBUTING.md
  README.md
Labels: documentation

#115 Fix small typo in logging
  internal/steamclient/playerInfo.go
Labels: enhancement

#110 101 align and style graphs
  templates/chart-accuracy.html
  templates/chart-adr.html
  templates/table-other.html
Labels: Frontend

#97 Implement weapon charts and table
  public/css/custom.css
  templates/chart-weapons.html
  templates/details.html
  templates/table-weapons.html
Labels: Frontend

#120 adjust image path to lowercase
  templates/table-weapons.html
Labels: Frontend

#121 Fix missing weapons
  internal/steamclient/steamUserStatsForGame.go
  internal/steamclient/steamUserStatsForGame_test.go
  templates/table-weapons.html
Labels: Frontend, bug

#122 Show players currently online first in stats page
  internal/steamclient/steamconfig.go
  server.go
Labels: enhancement

#113 add viewport tag for mobile
  templates/header.html
Labels: Frontend
