Repository megaclan3000/megaclan3000, pull requests merged in 2020-07, with the labels that each got.

#124 finish maps charts and table
  templates/chart-maps.html
  templates/chart-weapons.html
  templates/details.html
  templates/table-maps.html
  templates/table-weapons.html
Labels: Frontend

#102 Implement "Last Match" chart
  internal/steamclient/helpers.go
  internal/steamclient/playerInfo.go
  public/css/custom.css
  public/img/draw_banner.png
  public/img/lose_banner.jpg
  public/img/lose_banner.png
  public/img/win_banner.jpg
  public/img/win_banner.png
  templates/details.html
  templates/table-lastmatch.html
Labels: Frontend, enhancement

#127 Fix `Overview` tab charts
  internal/steamclient/calc_last.go
  internal/steamclient/calc_total.go
  internal/steamclient/helpers.go
  internal/steamclient/helpers_test.go
  internal/steamclient/playerInfo.go
  templates/chart-adr.html
  templates/chart-overview.html
  test/complete_chema.json
Labels: Frontend, bug, enhancement

#128 sort weapons chart by kills
  templates/chart-weapons.html
Labels: Frontend, enhancement

#131 Remove sqlite
  datastorage.go
  internal/database/database.go
  internal/database/databasePlayerHistory.go
  internal/database/databasePlayerHistory_test.go
  internal/database/databasePlayerSummary.go
  internal/database/databasePlayerSummary_test.go
  internal/database/databaseRecentlyPlayedGames.go
  internal/database/databaseRecentlyPlayedGames_test.go
  internal/database/databaseUserStatsForGame.go
  internal/database/databaseUserStatsForGame_test.go
  internal/database/database_test.go
  internal/steamclient/steamPlayerSummaries.go
  internal/steamclient/steamPlayerSummaries_test.go
  schema.sql
  server.go
  templates/details.html
  test/database/fixtures/player_extra.yml
  test/database/fixtures/player_history.yml
  test/database/fixtures/player_stats.yml
  test/database/fixtures/player_summary.yml
  test/database/fixtures/recently_played.yml
Labels: Frontend
